.cardDogs {
  display: grid;
  /* display: flex;
  flex-wrap: wrap; */
  place-content: center;
  grid-template-columns: repeat(auto-fit, auto-fit);
  grid-gap: 20px 20px;
  /* gap: 20px 10px; */
  padding: 20px;
}

.homeWithoutDogs {
  height: 100vh;
  padding: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
