.cardDog > p {
  color: #b0b0b0;
}

.cardDog > div > h3 {
  color: #ff8400;
}

.cardDog > div > p {
  color: #b0b0b0;
}
.cardDog img {
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.cardDog:hover {
  background: #16213ea9;
  color: #000000;
  transform: scale(1.02);
}
