.footer {
  padding-bottom: 2%;
  background: #16213e;
  font-size: small;
  display: block;
}

.footer section {
  display: block;
}

.social img {
  width: 3%;
  margin: 2% 1% 0.5% 1%;
}

.social a {
  cursor: pointer;
}
