.footer {
  padding: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  background: #000000c4;
  font-size: small;
  display: block;
}

.footer > section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social img {
  width: 3%;
  margin: 2% 1% 0.5% 1%;
}

.social a {
  cursor: pointer;
}
