.searchBar {
  background: #bb1e1e;
  width: 19.4em;
  display: flex;
  border-radius: 0.375rem;
}

.searchBar:focus {
  box-shadow: 0px 0px 10px #ddd;
}

.searchBar input {
  padding: 10px;
  width: 19.4em;
  font-size: 17px;
  border-radius: 0 0.375rem 0.375rem 0;
  border: none;
}

.searchBar button {
  cursor: pointer;
  padding: 0 1rem;
  color: #000000;
  background: #858282;
  font-weight: 600;
  border-radius: 0.375rem 0 0 0.375rem;
  border: 1px solid transparent;
}

.searchBar button:hover {
  background: #d25a05;
}

.searchBar input:focus {
  outline: none;
  background: rgb(234, 234, 234);
}

.suggestionsLst {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.suggestions {
  margin-top: 2px;
  position: absolute;
  width: 19em;
  max-height: 15em;
  border-radius: 8px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: #000000d6;
  overflow: auto;
}

.suggestions::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: #888;
}

.suggestions::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.suggestions a {
  text-decoration: none;
  color: #fff;
}

.suggestions a:visited {
  color: #fff;
}

.suggestions > ul {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.suggestions > ul > li {
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

.suggestions > ul > li:hover {
  background-color: #d25a05;
}

@media (max-width: 620px) {
  .searchBar {
    width: 15.4em;
  }

  .suggestions {
    width: 17.5em;
  }
}
