.landing {
  min-height: 100vh;
  background-image: url("../../assets/wolf.jpg");
  background-size: cover;
  background-position: center;
}

.landing section {
  font-size: 1.4rem;
  transform: translate(0, 100%);
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.landing section > div {
  background-color: #000000ba;
  padding: 20px;
  border-radius: 20px;
}

.landing h1 {
  color: #ea7b04;
}

@media (width < 900px) {
  .landing section > div {
    transform: translate(0, -120%);
    margin: 0 20px;
  }

  .landing h1 {
    color: #e47702;
  }

  button {
    transform: translate(0, -300%);
  }
}
